{% extends 'base.html.twig' %}

{% block title %} encounter page {% endblock %}

{% block main %}

    <div class="row">
        <div class="col">


                <h4>infos of the event here</h4>


        </div>
        <div class="col-5">

            <h4>chat of the group here</h4>

        </div>
        <div class="col">

            <h4>Profile of the attendees goes here</h4>

        </div>
    </div>


{% endblock %}